.look {
  color: red;
}

.Size {
  height: 310px;
  width: 520px;
  background-color: rgb(178, 225, 208);
}

.Customer {
  height: 250px;
  width: 250px;
  background-color: rgb(173, 232, 237);
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}
.table.submit:hover {
  box-shadow: 3px 3px 6px rgb(255, 214, 176);
}
